{% extends "account/base_account.html" %}

{% load i18n %}
{% load account %}

{% block page_title %}
{% trans "Password Reset" %}
{% endblock %}

{% block container_content %}
    <div class="content">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}

{% block social_media %}
{% endblock %}

