{% extends "account/base_account.html" %}

{% load i18n %}
{% load account %}

{% block page_title %}
{% trans "Password Reset" %}
{% endblock %}

{% block container_content %}
  {% if user.is_authenticated %}
    <div class="panel p-a-4">
      {% include "account/snippets/already_logged_in.html" %}
    </div>
  {% else %}
    <form method="post"  action="/accounts/password/reset/" class="panel p-a-4">
        {% csrf_token %}

        {% for field in form %}
            <fieldset class="form-group form-group-lg {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                <input type="email" name="{{ field.name }}" id="{{ field.name }}" class="form-control">
                {% if field.errors %}
                <span class="help-block">
                  {% for error in field.errors %}
                   {{ error }}
                   {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </span>
                {% endif %}
            </fieldset>
        {% endfor %}

        <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Send password reset link</button>
        <div class="m-t-2">
            <a href="{% url 'account_login' %}" class="text-default">&larr; Back</a>
        </div>
    </form>
  {% endif %}

{% endblock %}
