{% extends "base/settings.html" %}

{% block password_active %}active{% endblock %}

{% block settings_subpage %}
<div class="tab-pane active" id="account-password">
  <form action="{% url 'account_change_password' %}" class="p-x-1" method="post">
    {% csrf_token %}

    {% for field in form %}
        <fieldset class="form-group form-group-lg {% if field.errors %}has-error{% endif %}">
            {{ field.label_tag }}
            <input type="password" name="{{ field.name }}" id="{{ field.name }}" class="form-control">
            {% if field.errors %}
            <span class="help-block">
              {% for error in field.errors %}
               {{ error }}
               {% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            </span>
            {% endif %}
        </fieldset>
    {% endfor %}

    <button type="submit" class="btn btn-lg btn-primary m-t-3">Change password</button>
  </form>
</div>
{% endblock %}
