{% extends "account/base_account.html" %}

{% load widget_tweaks %}

{% block header_button %}
<a href="/accounts/login/" class="btn btn-primary">Sign In</a>
{% endblock %}


{% block page_title %}
Create an Account
{% endblock %}

{% block container_content %}
    <form action="/accounts/signup/" method="post" class="panel p-a-4">
        {% csrf_token %}

        {% for field in form %}
            <fieldset class="form-group form-group-lg {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
                {% if field.errors %}
                <span class="help-block">
                  {% for error in field.errors %}
                   {{ error }}
                   {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </span>
                {% endif %}
            </fieldset>
        {% endfor %}

        <label class="custom-control custom-checkbox">
            <input type="checkbox" name="signup_confirm" id="confirm_id" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            I agree with the <a href="#" target="_blank">Terms and Conditions</a>
        </label>

        <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Sign Up</button>
    </form>

{% endblock %}


{% block scripts %}
<script>var pxInit = [];</script>



<!-- Javascript -->
<script>
    pxInit.push(function() {
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>
<!-- / Javascript -->

  <!-- Initialize demo sidebar on page load -->
  <script>
    pxInit.push(function() {
      $(function() {
        $('#px-demo-sidebar').pxSidebar();
      });
    });
  </script>

  <script type="text/javascript">
    pxInit.unshift(function() {
      $(function() {
        // pxDemo.initializeDemo();
      });
    });

    for (var i = 0, len = pxInit.length; i < len; i++) {
      pxInit[i].call(null);
    }
  </script>

{% endblock %}
